@-webkit-keyframes line_animation {
	0% {
		top: 0px;
		opacity: 1;
	}
	50% {
		top: 50%; 
	}
	100% {
		top: 100%;
		opacity: 1; 
	} 
}

@keyframes line_animation {
	0% {
		top: 0px;
		opacity: 1; 
	}
	50% {
		top: 50%; 
	}
	100% {
		top: 100%;
		opacity: 1; 
	} 
}
@-webkit-keyframes scroll2 {
	0% {
		opacity: 1;
		bottom: 0px; 
	}
	50% {
		bottom: 50%;
	}
	100% {
		bottom: 100%;
		opacity: 1; 
	} 
}

@keyframes scroll2 {
	0% {
		opacity: 1;
		bottom: 0px;
	}
	50% {
		bottom: 50%; 
	}
	100% {
		bottom: 100%;
		opacity: 1;
	} 
}
@keyframes Move_animation_1 {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(-40px);
	}
	50% {
		transform: translateX(0);
	}
	75% {
		transform: translateX(40px);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes Move_animation_2 {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(40px);
	}
	50% {
		transform: translateX(0);
	}
	75% {
		transform: translateX(-40px);
	}
	100% {
		transform: translateX(0);
	}
}
.clinox-banner-section-3 {
	z-index: 1;
	overflow: hidden;
	.clinox-banner-social {
		left: 60px;
		bottom: 30px;
		a {
			color: #000000;
			margin-right: 20px;
		}
	}
	.banner-shape1 {
		top: 0;
		left: -140px;
	}
	.banner-shape2 {
		bottom: 0;
		left: -60px;
		z-index: -1;
	}
	.clinox-banner-img-wrapper-3 {
		top: 0;
		right: 0;
		z-index: 1;
		position: absolute;
		.circle-img1,
		.circle-img2 {
			top: 0;
			overflow: hidden;
			border-radius: 100%;
			border: 10px solid #fff;
			box-shadow: 0px 0px 15px 0px rgba(35, 31, 32, 0.05);
		}
		.circle-img1 {
			top: 25%;
			left: 110px;
			width: 250px;
			height: 250px;
		}
		.circle-img2 {
			top: 50%;
			left: 45%;
			width: 200px;
			height: 200px;
		}
	}
}
.line_animation {
	top: 0px;
	left: 5%;
	width: 70%;
	bottom: 0px;
	z-index: -1;
	display: block;
	position: absolute;
	.line_area {
		width: 15%;
		float: left;
		height: 100%;
		position: relative;
		display: inline-block;
	}
}
.line_animation .line_area:nth-child(even) {
	-webkit-animation: line_animation 15s ease-out infinite;
	animation: line_animation 15s ease-out infinite;
}
.line_animation .line_area:nth-child(odd) {
	-webkit-animation: scroll2 15s ease-out infinite;
	animation: scroll2 15s ease-out infinite;
}
.clinox-banner-content-3 {
	padding: 185px 0px 170px;
}
.banner-text-3 {
	max-width: 620px;
	.banner-slug {
		font-weight: 600;
		color: $base-color;
		padding-left: 35px;
		position: relative;
		display: inline-block;
		font-family: $heading;
		&:before {
			top: 0;
			left: 0;
			line-height: 0;
			color: #ffcd05;
			font-size: 30px;
			content: '...';
			position: absolute;
		}
		&:after {
			left: 0;
			bottom: 7px;
			width: 22px;
			height: 3px;
			content: '';
			position: absolute;
			border-radius: 10px;
			background-color: #ffcd05;
		}
	}
	h1 {
		color: #000;
		font-size: 80px;
		font-weight: 700;
		padding: 20px 0px;
		line-height: 1.15;
	}
}