.clinox-team-section {
	overflow: hidden;
	padding: 120px 0px;
	background-color: #f2fcfc;
}
.clinox-team-content {
	padding-top: 45px;
	margin: 0px -15px;
	.carousel_nav {
		button {
			top: 50%;
			width: 60px;
			z-index: 1;
			height: 60px;
			border: none;
			font-size: 24px;
			position: absolute;
			color: $base-color;
			border-radius: 100%;
			background-color: #fff;
			transition: 500ms all ease;
			transform: translateY(-50%);
			&:hover {
				color: $black;
				background-color: #ffcd05;
			}
		}
		.team_left_arrow {
			left: -15px;
		}
		.team_right_arrow {
			right: 0px;
		}
	}
}
.clinox-team-inner-item {
	max-width: 370px;
	overflow: hidden;
	border-radius: 5px;
	.inner-text-social {
		left: 0;
		right: 0;
		width: 85%;
		margin: 0 auto;
		bottom: -150px;
		padding: 28px 15px;
		transition: 500ms all ease;
		background-color: $base-color;
		h3 {
			opacity: 0;
			color: #fff;
			font-size: 20px;
			font-weight: 700;
			padding-bottom: 8px;
			transition: 500ms;
			transition-delay: .2s;
			transform: translateY(15px);
		}
		span {
			opacity: 0;
			color: #fff;
			font-size: 15px;
			display: inline-block;
			transition: 500ms;
			transition-delay: .3s;
			transform: translateY(15px);
		}
		.inner-social {
			opacity: 0;
			margin-top: 12px;
			transition: 500ms;
			transition-delay: .4s;
			transform: translateY(15px);
			a {
				color: #fff;
				margin: 0px 10px;
				display: inline-block;
				&:hover {
					transform: scale(1.3);
				}
			}
		}
	}
	&:hover {
		.inner-text-social {
			bottom: 0;
			h3,span, .inner-social {
				opacity: 1;
				transform: translateY(0px);
			}
		}
	}
}
.clinox-team-member-feed-content {
	.clinox-team-inner-item {
		margin-bottom: 30px;
	}
}
.clinox-team-details-content {
	margin-bottom: 65px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.05);
}
.clinox-team-details-text-wrap {
	padding: 75px 30px;
	.about-bg {
		right: 25px;
		bottom: 20px;
	}
	h3 {
		font-size: 36px;
		color: $black;
		font-weight: 600;
		padding-bottom: 12px;
	}
	.clinox-team-details-info {
		padding-top: 35px;
		max-width: 350px;
		li {
			font-weight: 600;
			font-family: $heading;
			color: $black;
			text-transform: uppercase;
			margin-bottom: 25px;
			span {
				float: right;
				font-weight: 400;
				text-transform: capitalize;
			}
		}
	}
	.clinox-team-details-social {
		margin-top: 40px;
		a {
			width: 40px;
			height: 40px;
			display: flex;
			color: $black;
			align-items: center;
			border-radius: 100%;
			justify-content: center;
			margin-right: 10px;
			background-color: rgb(255, 255, 255);
			box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.08);
			&:hover {
				color: var(--white-color);
				background-color: var(--main-color);
			}
		}
	}
}
.clinox-team-details-text-content-wrap {
	h3 {
		color: $black;
		font-size: 30px;
		font-weight: 600;
		padding-bottom: 30px;
	}
	p {
		line-height: 1.875;
		padding-bottom: 30px
	}
}
.clinox-team-details-experience {
	margin-top: 30px;
}
.clinox-team-details-skill {
	max-width: 500px;
	h3 {
		padding-bottom: 0px;
	}
}